
.center-block {
    display: block;
    margin: 0 auto;
    float: inherit;
}

.center-content {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m50{
    margin-top: 50px;
}

.my-gallery{
    a{
        img {
            width: 100%;
            height: auto;
        }
    }
    figure {
      position: relative;
      margin: 1% 0;
    }
}

.nav {
  .lang {
    position: relative;
    top: 2px;
    padding: 10px 15px;
    label {
      color: $white;
      font-size: 10px;
      font-weight: initial;
    }
    ul {
      display: table-row;
      li{
        display: table-cell;
        list-style-type: none;
      }
      li:nth-child(2) {
        a{
          margin: 0 4px;
        }
      }
    }
    img {
      width: auto;
      height: 32px;
    }
  }
}

.vbc {

  .row {
    width: 100%;
  }

  section#about,
  section#gallery,
  section#contact,
  section#mapcontainer  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-scroll.down {
    background-color: #080808;
  }
}

a.page-scroll {
  i.fa-angle-double-down{
    font-size: 30px;
    color: #fff;
    width: 100px;
  }
}

@media (min-width: 768px) {

}