
 next::before { 
	content: "";
	position: absolute;
	padding: 12px;
	box-shadow: 1px -1px 0 1px #979797 inset;
	-webkit-box-shadow: 2px -2px #979797 inset;
	-moz-box-shadow: 2px -2px #979797 inset;
	border: solid transparent;
	border-width: 0 0 2rem 2rem;
}

 before::before { 
    content: "";
    position: absolute;
    padding: 12px;
    box-shadow: 1px -1px 0 1px #979797 inset;
    -webkit-box-shadow: 2px -2px #979797 inset;
    -moz-box-shadow: 2px -2px #979797 inset;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
 }