

// Color Variables
$bg-color : #ebfbfc;
$bg-input : #00bcee;
$white : #ffffff;
$black : #000000;
$red : #cc0000;

html {
    background-color: #fff;
}

@import 'site/style.scss';
@import 'site/global.scss';


@import 'site/grayscale.scss';